* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top {
    height: 75px;
    background: #153366;
}

.navtop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 28px;
}

.navtop a {
    color: rgba(255, 255, 255, 0.486);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-decoration: none;
}

.contenu {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 10px 15px;
    background: #a2bea9;
}

.titre {
    text-align: center;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.753);
    text-shadow: 11px 8px 2px #302a254a;
    padding-bottom: 8px;
}

hr {
    background-color: #eff3f0;
}

.sous-titre {
    color: rgba(141, 74, 74, 0.466);
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 12px 0;
}

.ul-local,
.ul-reseau {
    list-style-type: none;
}